body {
	background-color: #FFFFFF;
	font-family: Arial;
}

a{
	text-decoration: none;
	color:black;
}

a:hover{
	color:#3366FF;
}

#menu_bar{
	position:static;
	margin-left:10em;
	margin-right:20em;
    font-size:25px;
    border: 1px solid black;
}

#menu_bar ul{
	list-style-type: none;
	margin-top:.5%;
	margin-bottom:.5%;
}

#menu_bar li{
	display:inline;
	margin-left:1em;
	margin-right:1em;;
}

#left{
	float: left;
	width: 60%;
	margin-top: 5em;
	margin-left: 5em;
	bottom: 0px;
}

#right{
	float: right;
	position: absolute;
	top:0px;
	bottom:0px;
	width: 25%;
	height:100%;
	right:5em;
	background-color:#3366FF;
}

#follow ul li img{
	width:25%;
	height:auto;
	border: 2px solid black;
}

#follow ul{
	list-style-type: none;
	margin-top:9em;
}

#me img{
	width:30%;
	height:auto;
	float:left;
	margin-right:1em;
	margin-left:4em;
	margin-top:5em;
	border: 2px solid black;
}

#logo{
	text-align: center;
	position:relative;
	top:2em;
	font-family:Impact, sans-serif;
	font-size:2.5em;
}