html, body {
  margin:0;
  border:0;
  height:93.01%;
  font-size:100%;
  background-color:#252D36;
}

#main {
 	width:92.5%;
  	font-family:'Open Sans Condensed';
  	margin-left:7.5%;
}

#top{
	color:white;
	opacity:.55;
	margin-left:25px;
	margin-top:7%;
	letter-spacing:.28em;
}

#name{
	font-size:1.75em;
	margin-bottom:-1.8%;
}

#subname{
	font-size:1em;
	padding-top:.25em;
}

#links{
	padding:20px;
	line-height:3.1em;
	margin-top:-5%;
	letter-spacing:.2em;
}

a {
	text-decoration:none;
	color:white;
	font-weight:bold;
	opacity:.75;
	transition:0.6s;
	font-size:4.8em;
}

a:hover {
	opacity:1;
}

#about_me{
	display:none;
	color:white;
	line-height:0.75em;
	font-weight:normal;
	letter-spacing:0px;
	font-size:1em;
	opacity:.9;
}

a:hover + #about_me{
	display:block;
}

#pic {
  position:fixed;
  float:right;
  bottom:0;
  right:0;
  margin-right:5%;
  width:14%;
  opacity:.75;
}

#bloglinks{
	position:absolute;
	left:32%;
	top:20%;
}

#bloglinks a{
	font-size:1.2em;
	opacity:.8;
	font-weight:normal;
}

#bloglinks a:hover{
	opacity:1;
}

#contact_links table {
  position:absolute;
  top:23%;
  left:40%;
  width:28%;
}

#contact_links img {
  opacity:.7;
  width:75%;
}

#contact_links a img:hover {
  opacity:1;
}

#stereogram{
  position:absolute;
  width:300px;
  height:185px;
  top:28%;
  left:35%;
  overflow:hidden;
  border:dashed 1px white;
}

#stereogram img{
  position:relative;
  width:300px;
  height:392px;
  top:-4px;
  transition:top .3s ease-in-out;
}

#stereogram img:hover{
  top:-200px;
}

#home-preview{
  position:absolute;
  width:300px;
  height:185px;
  top:28%;
  left:58%;
  overflow:hidden;
  border:dashed 1px white;
}

#home-preview img{
  position:relative;
  width:300px;
  height:392px;
  top:-4px;
  transition:top .3s ease-in-out;
}

#home-preview img:hover{
  top:-200px;
}

#about_page{
  position:absolute;
  width:60%;
  height:75%;
  top:19%;
  left:35%;
}

#about_page p {
  color:white;
  line-height:1.25em;
  font-weight:normal;
  font-size:1.25em;
  opacity:.9;
}

#about_page p a{
  color:white;
  line-height:1.25em;
  font-weight:normal;
  font-size:1.25em;
  opacity:.9;
}

#skills{
  text-align:left;
  color:white;
  left:35%;
  top:40%;
  opacity:.9;
}

#skills th{
  padding-right:10px;
}

#about_page p a:last-child{
  color:white;
  line-height:1.25em;
  font-size:1em;
  opacity:.9;
}

@media screen and (max-width:1520px){

#links {
	padding:18px;
	line-height:3em;
	margin-top:-5%;
	letter-spacing:.2em;
}

a {
	text-decoration:none;
	color:white;
	font-weight:bold;
	opacity:.75;
	transition:0.6s;
	font-size:4em;
}

#about_me {
	display:none;
	line-height:0.7em;
	letter-spacing:0px;
	font-size:.9em;
}

a:hover + #about_me{
  display:block;
}

#bloglinks {
	left:35%;
	top:25%;
}

#bloglinks > a {
	font-size:.95em;
}

}

@media screen and (max-width:1100px){

#links {
	padding:18px;
	line-height:2.8em;
	margin-top:-5%;
	letter-spacing:.18em;
}

a {
	font-size:3.7em;
}

#about_me {
	display:none;
	color:white;
	line-height:0.5em;
	font-weight:normal;
	letter-spacing:0px;
	font-size:.75em;
  opacity:.9;
}

a:hover {
  opacity:1;
}

a:hover + #about_me{
  display:block;
}

#bloglinks {
	left:37%;
	top:30%;
}

#bloglinks > a {
	font-size:1.1em;
}

#stereogram{
  left:32%;
}

#home-preview{
  left:68%;
}

#contact_links table {
  position:absolute;
  top:30%;
  left:37%;
  width:30%;
}
}
