html, body, .page {
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  font-family: "Raleway";
  transition:         all .6s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition:    all .6s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition:      all .6s cubic-bezier(.5, .2, .2, 1.1);  
}

a  { text-decoration: none; }
ul { list-style-type: none; }

canvas {
  display: block;
  vertical-align: bottom;
}

#skill-list {
  display: inline;
  margin: 0;
}

.skill {
  display: inline-block;
  text-align: center;
  color: #000;
  width: 10%;
  vertical-align: top;
  margin-right: 20px;
}

.sublist {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 50%;
}

.sublist-header {
  font-size: 30px;
  margin-bottom: 10px;
}

.sublist-items {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

#menu {
  height: 280px;
  width: 10%;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  text-align: center;
 }

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  margin-top: 250px;
}

.nav-section {
  color: #000;
  display: block;
  font-size: 32px;
  margin-bottom: 20px;
}

.page .nav-section {
  width: 500px;
  height: 200px;
  margin-left: 33%;
  font-size: 80px;
  text-align: center;
  line-height: 1.3;
  transform:          translateX(360%);
  -webkit-transform:  translateX(360%);
  -moz-transform:     translateX(360%);
  -o-transform:       translateX(360%);
  transition:         all .5s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition:    all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition:      all .5s cubic-bezier(.25, 1, .5, 1.25);
}

#skills-tile {
  width: 100%;
  height: 60%;
}

.page .nav-section .title { 
  line-height: 2;
}

#menu .nav-section:hover {
  opacity: 0.5;
}

#menu .nav-section {
  margin: 30px 0;
  transition:         all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition:    all .5s ease-out;
  -o-transition:      all .5s ease-out;
}

.page  { position: absolute; }
.title { font-size: 50px; }

.title,
.subheader,
.main-title,
.main-subheader {
  display: block;
}

.main-title {
  font-size: 30px;
  font-weight: bold;
}

.main-header {
  text-align: left;
  padding-left: 55px;
}

.main-subheader { font-size: 12px; }
.subheader      { font-size: 18px; }

.subheader a {
  color: yellow;
  transition:         all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition:    all 250ms ease-out;
  -o-transition:      all 250ms ease-out;
}

.subheader a:hover { color: #FFF; }

#first,
#second,
#third,
#fourth {
  font-size: 50px;
  color: white;
}

#p1 { 
  left: 0;
  background: #fff;
}

#p2, 
#p3, 
#p4 { 
  left: 200%;
  opacity: 0.5;
  background: #fff;
}

#p1-internal, 
#p2-internal, 
#p3-internal  {
  background: #fbfafa;
  width:100%;
  height: 60%;
  margin-top: 10%;
}

#about:target #p2,
#contact:target #p3,
#projects:target #p4 {
  transform:         translateX(-185%);
  -webkit-transform: translateX(-185%);
  -moz-transform:    translateX(-185%);
  -o-transform:      translateX(-185%);
  transition-delay: .4s !important;
}

#about:target #p1 .nav-section, 
#contact:target #p1 .nav-section,
#projects:target #p1 .nav-section {
  -webkit-filter: blur(3px);
}

#about:target #menu .nav-section,
#contact:target #menu .nav-section,
#projects:target #menu .nav-section {
  transform:         scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform:    scale(.6);
  -o-transform:      scale(.6);
  transition-delay: .25s;
}
#about:target #second,
#contact:target #third,
#projects:target #fourth {
  transform:         scale(.7) !important;
  -webkit-transform: scale(.7) !important;
  -moz-transform:    scale(.7) !important;
  -o-transform:      scale(.7) !important;
}

#about:target .page#p2 .nav-section,
#contact:target .page#p3 .nav-section,
#projects:target .page#p4 .nav-section {
  transform:         translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform:    translateX(0) !important;
  -o-transform:      translateX(0) !important;
  transition-delay: 0s;
}

.contact-links-td {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

#contact-table {
  width: 85%;
  height: 45%;
}

.contact-row {
  width: 50%;
}

#contacts-image1 img,
#contacts-image2 img,
#contacts-image3 img,
#contacts-image4 img,
#contacts-image5 img,
#contacts-image6 img {
  width: 25%;
  height: auto;
  opacity: 0.7;
}

#contacts-image1 img:hover,
#contacts-image2 img:hover,
#contacts-image3 img:hover,
#contacts-image4 img:hover,
#contacts-image5 img:hover,
#contacts-image6 img:hover {
  opacity: 1;
}

#project-links {
  height: 75%;
  width: 60%;
  resize: none;
}

#project-links li {
  display: inline-block;
  margin-right: 10px;
}

#stereogram {
  width: 300px;
  height: 185px;
  overflow: hidden;
  border: dashed 1px #333A56;
}

#mkdn-editor { 
  width: 300px;
  height: 185px;
  overflow: hidden;
  border: dashed 1px #333A56;
}

#home-split { 
  width: 300px;
  height: 185px;
  overflow: hidden;
  border: dashed 1px #333A56;
}

#stereogram img {
  position: relative;
  width: 300px;
  height: 392px;
  top: -4px;
  transition: top .3s ease-in-out;
}

#mkdn-editor img {
  position: relative;
  width: 300px;
  height: 392px;
  top: -4px;
  transition: top .3s ease-in-out;
}

#home-split img {
  position: relative;
  width: 300px;
  height: 392px;
  top: -4px;
  transition: top .3s ease-in-out;
}

#stereogram  img:hover { top: -200px; }
#home-split  img:hover { top: -200px; }
#mkdn-editor img:hover { top: -200px; }

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #adbac7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@media all and (max-width: 1600px) {
  #about:target #p2,
  #contact:target #p3,
  #projects:target #p4 {
    transform:         translateX(-180%);
    -webkit-transform: translateX(-180%);
    -moz-transform:    translateX(-180%);
    -o-transform:      translateX(-180%);
    transition-delay: .4s !important;
  }

  .sublist-header { font-size: 25px; }
  .sublist-items  { font-size: 15px; }
}

@media all and (max-width: 1600px) {
  #skill-list {
    padding: 0;
    padding-left: 15px;
  }

  .skill             { width: 9%; }
  .sublist-items     { font-size: 15px; }
  .sublist-header    { font-size: 20px; }
  .page .nav-section { margin-left: 23%; }
  #project-links     { width: 100%; }
}

@media all and (max-height: 800px) {
  .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    margin-top: 200px;
  }
}