html, body {
  margin: 0;
  border: 0;
  height: 93.01%;
  font-size: 100%;
  background-color:#252D36;
}

#main {
 	width: 92.5%;
  	font-family: 'Open Sans Condensed';
  	margin-left:7.5%;
}

#top{
	color:white;
	opacity:.55;
	margin-left:25px;
	margin-top:7%;
	letter-spacing:.28em;
}

#name{
	font-size:1.75em;
	margin-bottom:-1.8%;
}

#subname{
	font-size:1em;
	padding-top:.25em;
}

#links{
	padding:20px;
	line-height:3.1em;
	margin-top:-5%;
	letter-spacing:.2em;
}

a {
	text-decoration: none;
	color:white;
	font-weight:bold;
	opacity:.75;
	transition:0.6s;
	font-size:4.8em;
}

a:hover {
	opacity:1;
}

#about_me{
	display:none;
	color:white;
	line-height:0.75em;
	font-weight:normal;
	letter-spacing:0px;
	font-size:1em;
	opacity:.9;
}

a:hover + #about_me{
	display: block;
}

#pic {
  position: fixed;
  float:right;
  bottom:0;
  right:0;
  margin-right:5%;
  width:14%;
  opacity: .75;
}

#bloglinks{
	position:absolute;
	left:40%;
	top:40%;
}

#bloglinks > a{
	font-size:2em;
	opacity:.8;
	font-weight:normal;
}

#bloglinks > a:hover{
	opacity:1;
}